<body>
  <h1>Мой сайт на Astro</h1>
  <h1>Обо мне</h1>
  <h2>... и моем новом сайте на Astro!</h2>

  <p>Я прохожу вводный учебник по Astro. Это вторая страница моего сайта, и это первая страница, которую я создал самостоятельно!</p>

  <p>Сайт будет обновляться по мере прохождения учебника, так что заходите сюда снова и следите за моим прогрессом!</p>
</body>