---
const pageTitle = "ЭТО БЛОГ";
---
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Главная</a>
    <a href="/about/">О сайте</a>
    <a href="/blog/">Блог</a>

    <h1>{pageTitle}</h1>
    <p>Здесь я буду публиковать записи о своем пути изучения Astro.</p>
    <ul>
      <li><a href="/posts/post-2025-11-25/">Пост 1</a></li>
      <li><a href="/posts/post-2/">Пост 2</a></li>
      <li><a href="/posts/post-3/">Пост 3</a></li>
    </ul>
  </body>
</html>